<section class="edit-animal-page">
  <div class="page-header">
    <div>
      <h1 i18n="Animal detail page title@@animals.edit.title">
        Ficha do animal
      </h1>

      <p i18n="Animal detail page description@@animals.edit.description">
        Consulta e gere os dados associados ao animal.
      </p>
    </div>

    <a
      routerLink="/app/animals"
      class="back-button"
      i18n="Back to list button@@animals.actions.backToList"
    >
      Voltar à lista
    </a>
  </div>

  <div
    *ngIf="isLoading"
    class="loading"
    i18n="Loading animal detail@@animals.state.loadingDetail"
  >
    A carregar ficha do animal...
  </div>

  <div *ngIf="!isLoading && errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <ng-container *ngIf="!isLoading && animal">
    <section class="animal-image-section">
      <div
        class="animal-image-preview"
        [class.empty]="!animalImage"
      >
        <img
          *ngIf="animalImage; else noAnimalImage"
          [src]="animalImage"
          i18n-alt="Animal image alt text@@animals.edit.image.alt"
          alt="Imagem de animal"
        />

        <ng-template #noAnimalImage>
          <span i18n="No animal image placeholder@@animals.edit.noImage">
            Sem imagem
          </span>
        </ng-template>
      </div>

      <div class="animal-image-actions">
        <button
          type="button"
          [class.primary-button]="!animal.imagePath"
          [class.secondary-button]="animal.imagePath"
          [disabled]="isImageSubmitting"
          (click)="openImagePicker()"
        >
          <span
            *ngIf="animal.imagePath"
            i18n="Change photo button@@animals.edit.actions.changePhoto"
          >
            Alterar foto
          </span>

          <span
            *ngIf="!animal.imagePath"
            i18n="Add photo button@@animals.edit.actions.addPhoto"
          >
            Adicionar foto
          </span>
        </button>

        <input
          #imageInput
          id="animal-image-upload"
          type="file"
          hidden
          accept="image/jpeg,image/png,image/webp"
          (change)="onImageSelected($event)"
        />

        <span *ngIf="selectedImageFile" class="selected-image-name">
          {{ selectedImageFile.name }}
        </span>

        <button
          *ngIf="selectedImageFile"
          type="button"
          class="primary-button"
          [disabled]="isImageSubmitting"
          (click)="saveSelectedImage()"
        >
          <span
            *ngIf="!isImageSubmitting"
            i18n="Save photo button@@animals.edit.actions.savePhoto"
          >
            Guardar foto
          </span>

          <span
            *ngIf="isImageSubmitting"
            i18n="Saving photo state@@animals.edit.state.savingPhoto"
          >
            A guardar...
          </span>
        </button>

        <button
          *ngIf="selectedImageFile"
          type="button"
          class="secondary-button"
          [disabled]="isImageSubmitting"
          (click)="clearSelectedImage()"
          i18n="Cancel photo selection@@animals.edit.actions.cancelPhoto"
        >
          Cancelar
        </button>

        <button
          *ngIf="animal.imagePath"
          type="button"
          class="remove-record-button"
          [disabled]="isImageSubmitting"
          (click)="removeImage()"
        >
          <span
            *ngIf="!isImageSubmitting"
            i18n="Remove photo button@@animals.edit.actions.removePhoto"
          >
            Remover foto
          </span>

          <span
            *ngIf="isImageSubmitting"
            i18n="Removing photo state@@animals.edit.state.removingPhoto"
          >
            A remover...
          </span>
        </button>
      </div>
    </section>

    <app-animal-summary-cards
      [animal]="animal"
      [acceptedAdoption]="acceptedAdoption"
      (editSection)="openModal($event)"
    ></app-animal-summary-cards>

    <app-animal-vaccines-section
      [vaccines]="vaccines"
      (addVaccine)="openModal('vaccine')"
      (removeVaccine)="deleteVaccine($event)"
    ></app-animal-vaccines-section>

    <app-animal-deworming-section
      [records]="dewormingRecords"
      (addDeworming)="openModal('deworming')"
      (removeDeworming)="deleteDeworming($event)"
    ></app-animal-deworming-section>

    <app-animal-vet-appointments-section
      [appointments]="vetAppointments"
      (addAppointment)="openModal('appointment')"
      (removeAppointment)="deleteVetAppointment($event)"
    ></app-animal-vet-appointments-section>
  </ng-container>

  <app-animal-edit-modal
    *ngIf="activeModal"
    [activeModal]="activeModal"
    [form]="form"
    [vaccineForm]="vaccineForm"
    [dewormingForm]="dewormingForm"
    [appointmentForm]="appointmentForm"
    [isSubmitting]="isSubmitting"
    (close)="closeModal()"
    (submitAnimal)="submit()"
    (submitVaccine)="addVaccine()"
    (submitDeworming)="addDeworming()"
    (submitAppointment)="addVetAppointment()"
  ></app-animal-edit-modal>
</section>
