<section class="edit-animal-page">
  <div class="page-header">
    <div>
      <h1>Ficha do animal</h1>
      <p>Consulta e gere os dados associados ao animal.</p>
    </div>

    <a routerLink="/app/animals" class="back-button">Voltar à lista</a>
  </div>

  <div *ngIf="isLoading" class="loading">A carregar ficha do animal...</div>

  <div *ngIf="!isLoading && errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <ng-container *ngIf="!isLoading && animal">
    <app-animal-summary-cards
      [animal]="animal"
      [acceptedAdoption]="acceptedAdoption"
      (editSection)="openModal($event)"
    ></app-animal-summary-cards>

    <app-animal-vaccines-section
      [vaccines]="vaccines"
      (addVaccine)="openModal('vaccine')"
      (removeVaccine)="deleteVaccine($event)"
    ></app-animal-vaccines-section>

    <app-animal-deworming-section
      [records]="dewormingRecords"
      (addDeworming)="openModal('deworming')"
      (removeDeworming)="deleteDeworming($event)"
    ></app-animal-deworming-section>

    <app-animal-vet-appointments-section
      [appointments]="vetAppointments"
      (addAppointment)="openModal('appointment')"
      (removeAppointment)="deleteVetAppointment($event)"
    ></app-animal-vet-appointments-section>
  </ng-container>

  <app-animal-edit-modal
    *ngIf="activeModal"
    [activeModal]="activeModal"
    [form]="form"
    [vaccineForm]="vaccineForm"
    [dewormingForm]="dewormingForm"
    [appointmentForm]="appointmentForm"
    [adopters]="adopters"
    [isSubmitting]="isSubmitting"
    (close)="closeModal()"
    (submitAnimal)="submit()"
    (submitVaccine)="addVaccine()"
    (submitDeworming)="addDeworming()"
    (submitAppointment)="addVetAppointment()"
  ></app-animal-edit-modal>
</section>
