<aside class="menu-lateral">
  <nav class="navegacao-menu">
    <a
      routerLink="/app/dashboard"
      routerLinkActive="ativo"
      [routerLinkActiveOptions]="{ exact: true }"
      class="item-menu"
    >
      Dashboard
    </a>

    <a
      routerLink="/app/animals"
      routerLinkActive="ativo"
      class="item-menu"
    >
      Animais
    </a>

    <a
      routerLink="/app/adopters"
      routerLinkActive="ativo"
      class="item-menu"
    >
      Adotantes
    </a>

    <a
      routerLink="/app/adoptions"
      routerLinkActive="ativo"
      class="item-menu"
    >
      Adoções
    </a>

    <a
      routerLink="/app/care"
      routerLinkActive="ativo"
      class="item-menu"
    >
      Cuidados
    </a>

    <a
      routerLink="/app/statistics"
      routerLinkActive="ativo"
      class="item-menu"
    >
      Estatísticas
    </a>
  </nav>
</aside>