<aside class="menu-lateral">
  <nav class="navegacao-menu">

    <a
      routerLink="/app/dashboard"
      routerLinkActive="ativo"
      [routerLinkActiveOptions]="{ exact: true }"
      class="item-menu"
      i18n="Sidebar dashboard link@@sidebar.dashboard"
    >
      Dashboard
    </a>

    <a
      routerLink="/app/animals"
      routerLinkActive="ativo"
      class="item-menu"
      i18n="Sidebar animals link@@sidebar.animals"
    >
      Animais
    </a>

    <a
      routerLink="/app/adopters"
      routerLinkActive="ativo"
      class="item-menu"
      i18n="Sidebar adopters link@@sidebar.adopters"
    >
      Adotantes
    </a>

    <a
      routerLink="/app/adoptions"
      routerLinkActive="ativo"
      class="item-menu"
      i18n="Sidebar adoptions link@@sidebar.adoptions"
    >
      Adoções
    </a>

    <a
      routerLink="/app/care"
      routerLinkActive="ativo"
      class="item-menu"
      i18n="Sidebar care link@@sidebar.care"
    >
      Cuidados
    </a>

    <ng-container *ngIf="permissionService.can(permissions.statisticsView)">
      <a
        routerLink="/app/statistics"
        routerLinkActive="ativo"
        class="item-menu"
        i18n="Sidebar statistics link@@sidebar.statistics"
      >
        Estatísticas
      </a>
    </ng-container>

    <ng-container *ngIf="permissionService.can(permissions.usersView)">
      <a
        routerLink="/app/users"
        routerLinkActive="ativo"
        class="item-menu"
      >
        Utilizadores
      </a>
    </ng-container>

  </nav>
</aside>
